<br>

<div class="col-md-12 col-lg-6 mx-auto">

  <h4>My feedbacks</h4>

  <p>Number of feedbacks sent over the last 7 days</p>

  <div style="display: block;">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>

  <br>
  <h4>My neighborhood</h4>

  <p>Average number of feedbacks sent over the last 7 days</p>

  <div style="display: block;">
    <canvas baseChart
      [datasets]="neighChartData"
      [labels]="neighChartLabels"
      [options]="neighChartOptions"
      [plugins]="neighChartPlugins"
      [legend]="neighChartLegend"
      [chartType]="neighChartType">
    </canvas>
  </div>

  <br>
  <h4>Weather info</h4>

  <p>Outdoor temperature ({{ location }})</p>

  <!-- Line Chart -->
  <div class="chart-wrapper">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
  </div>

  <br>
  <p>Weather forecast ({{ location }})</p>

  <!-- Line Chart -->
  <div class="chart-wrapper">
    <canvas baseChart
        [datasets]="forecastChartData"
        [labels]="forecastChartLabels"
        [options]="forecastChartOptions"
        [colors]="forecastChartColors"
        [legend]="forecastChartLegend"
        [chartType]="forecastChartType"
        [plugins]="forecastChartPlugins">
    </canvas>
  </div>

</div>

